.container {
  width: 500px;
  margin: 30px auto;
}

textarea {
  box-sizing: border-box;
  background-color: #f5f5f2;
  color: #707068;
  font-size: 18px;
  width: 100%;
  border: 1px solid #B5B5A8;
  border-radius: 5px;
  padding: 10px;
}

.counter {
  color: #666;
  font-size: 24px;
  text-align: right;
}
